body {
    font-family: 'itc_bookman_stdregular', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
}

.container {
    max-width: 62.5%;
    margin: auto;
    padding-bottom: 6%;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding-bottom: 15%;
    }
}

#transcript p {
    text-indent: 30px;
    margin-bottom: -0.75em;
}

#transcript p:first-of-type {
    text-indent: 0;
}

.current-word {
    background-color: #fff2ac;
    color: #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.current-word::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    box-shadow: inherit;
    z-index: -1;
    border-radius: 3px;
}

.current-word:hover {
    background-color: #ffe678;
}

audio {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
}